<!doctype html>
<html lang="en">
  <head>
    <title>Register</title>

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="checkout.component.css">
  </head>
  <body class="background">
    <app-navbar></app-navbar>
    <!-- Table -->
    <div class="col align-self-center ">
            <div class="d-flex h-100 justify-content-center align-items-center">
                    <div class="bg-white secondbg p-5 col-md-9 col-lg-9 spacing shadow mb-5">  
                    <h3 class = "text-center"> Checkout</h3>
                      <div class="row table-responsive table-wrapper-scroll-y my-custom-scrollbar">
                                 <div class="table w-auto">
                                  <table class="table bg-white tables">
                                      <thead>
                                            <th scope="col">Number</th>
                                            <th scope="col">Product Name</th>
                                            <th scope="col">Quantity</th>
                                            <th scope="col">Price</th>
                                            <th  scope="col">Amount</th>
                                            <th scope="col"></th>
                                            <th scope="col">total</th>

                                      </thead>
                                      <tbody>
                                          
                                              <tr>
                                                    <th scope="row">1</th>
                                                      <td>Coilovers</td>
                                                      <td>10</td>
                                                      <td>4999</td>
                                                      <td>
                                                            <div ng-repeat="item in PC.Items">
                                                                    <input ng-model="item.Quantity" type="number" name="Quantity" style="width:60px"/>
                                                            </div>
                                                      </td>
                                                      <td>
                                                            <button type="submit" class="btn btn-primary button text-light">
                                                              Delete
                                                            </button>
                                                      </td>
                                                      
                                              </tr>
                                             
                                      </tbody>
                                  </table>
                              </div>
                        </div>
                        
                        </div>
                  </div>
                  <!-- Adding item -->
                <div class="d-flex h-100 justify-content-center align-items-center">
                  <div class="justify-content-center bg-white secondbg p-5 col-md-4 col-lg-4 spacing shadow mb-5">
                      <h3 class = "text-center"> Shipping</h3>
                      <div class="form-group"> 
                        <input type="text" class = "form-control field" id="" placeholder="First Name" name = "name">
                    </div>
                    <div class="form-group"> 
                      <input type="text" class = "form-control field" id="" placeholder="Last Name" name = "name">
                  </div>
                    <div class="form-group"> 
                      <input type="text" class = "form-control field" id="" placeholder="Address" name = "name">
                  </div>
                  <div class="form-group"> 
                    <input type="int" class = "form-control field" id="" placeholder="Phone Number" name = "name">
                </div>
                <div class="d-flex justify-content-center align-items-center">
                    <h4> Total</h4>
              </div>
              <div class="d-flex justify-content-center align-items-center">
                <button class="btn btn-primay button text-light">
                  Buy
              </button>
              </div>
               </div>
                </div>

    </div>
    
      
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html>