<!doctype html>
<html lang="en">
  <head>
    <title>Register</title>

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="inventory.component.css">
  </head>
  <body class="background">
    <app-admin-navbar></app-admin-navbar>
    <!-- ADDING ITEMS -->
    <div class="col align-self-center ">
            <div class="d-flex h-100 justify-content-center align-items-center spacing">
                    <div class="bg-white p-5 easy secondbg">  
                      <div class="row">
                          <form>
                              <div class="form-group">
                                  <h3 class = "text-center"> Add Item</h3>
                                  <div class="form-group"> 
                                      <input type="text" class = "form-control field" id="" placeholder="Product Name">
              
                                  </div>
                                <input type="text" class="form-control field" id=""  placeholder="Car Model">
                               </div>
                              <div class="form-group">
                                <input type="text" class="form-control field" id="" placeholder="Model Year">
                              </div>
                              <div class="form-group">
                                <input type="int" class="form-control field" id="" placeholder="Price">
                              </div>
                              <div class="form-group">
                                      <input type="int" class="form-control field" id="" placeholder="Quantity">
                                    </div>
                                    <div class="form-group dropdown">
                                          <button class="btn btn-secondary dropdown-toggle field border-0 text-muted" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            Categories
                                          </button>
                                          <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                            <a class="dropdown-item" href="#">Action</a>
                                            <a class="dropdown-item" href="#">Another action</a>
                                            <a class="dropdown-item" href="#">Something else here</a>
                                          </div>
                                        </div>
                              <div class="row easy">
                                  <div class="d-flex justify-content-center">
                                      <a class="btn btn-primary button text-light" href="registration.html" style="border-radius:100px">Add item</a>
                                    </div>               
                              </div>
                            </form>
                        </div>
                        </div>
                  </div>
                <!-- LIST OF ITEMS -->
                  <div class="d-flex h-100 justify-content-center align-items-center">
                        <div class="bg-white p-5 easy secondbg">  
                          <div class="row">
                              <form>
                                  <div class="form-group">
                                      <h3 class = "text-center"> Inventory</h3>
                                      <div class="form-group"> 
                                          <input type="text" class = "form-control field" id="" placeholder="Product Name">
                  
                                      </div>
                                    <input type="text" class="form-control field" id=""  placeholder="Car Model">
                                   </div>
                                  <div class="form-group">
                                    <input type="text" class="form-control field" id="" placeholder="Model Year">
                                  </div>
                                  <div class="form-group">
                                    <input type="int" class="form-control field" id="" placeholder="Price">
                                  </div>
                                  <div class="form-group">
                                          <input type="int" class="form-control field" id="" placeholder="Quantity">
                                        </div>
                                        <div class="form-group dropdown">
                                              <button class="btn btn-secondary dropdown-toggle field border-0 text-muted" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                Dropdown button
                                              </button>
                                              <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                                <a class="dropdown-item" href="#">Action</a>
                                                <a class="dropdown-item" href="#">Another action</a>
                                                <a class="dropdown-item" href="#">Something else here</a>
                                              </div>
                                            </div>
                                  <div class="row easy">
                                      <div class="d-flex justify-content-center">
                                          <a class="btn btn-primary button text-light" href="registration.html" style="border-radius:100px">Add item</a>
                                        </div>               
                                  </div>
                                </form>
                            </div>
                            </div>
                      </div>
    </div>
    
      
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html>