<div class="d-flex h-100 justify-content-center align-items-center">
    <div class="bg-white secondbg p-5 col-md-10 col-lg-10 shadow mb-5">  
    <h3 class = "text-center"> Inventory</h3>
      <div class="table-responsive table-wrapper-scroll-y my-custom-scrollbar">
                 <div class="table">
                  <table class="table bg-white tables">
                      <thead>
                            <th scope="col">Product ID</th>
                            <th scope="col">Product Name</th>
                            <th scope="col">Car Model</th>
                            <th scope="col">Year</th>
                            <th scope="col">Description</th>
                            <th scope="col">Quantity</th>
                            <th scope="col">Price</th>
                            <th scope="col">Date Added</th>
                            <th scope="col">Date Updated</th>
                            <th class="th-md" scope="col">Actions</th>
                      </thead>
                      <tbody>
                          
                              <tr>
                                    <th scope="row">1</th>
                                      <td>Coilovers</td>
                                      <td>Focus RS</td>
                                      <td>2020</td>
                                      <td>This is a coilover that is intended for the 2020 focus RS bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla</td>
                                      <td>10</td>
                                      <td>4999</td>
                                      <td>02-04-2020</td>
                                      <td>04-04-2020</td>
                                      <td>
                                            <button type="submit" class="btn btn-primary button text-light">
                                              Delete
                                            </button>
                                            <button type="button" class="btn btn-primary button text-light ml-2" data-toggle="modal" data-target="#exampleModal">
                                                    Edit
                                                  </button>
                                      </td>
                              </tr>
                             
                      </tbody>
                  </table>
              </div>
        </div>
        </div>
  </div>


  <!-- MODAL -->

<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        ...
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>
  