<div class="d-flex h-100 justify-content-center align-items-center">
    <div class="bg-white secondbg p-5 col-md-10 col-lg-10 shadow mb-5">  
    <h3 class = "text-center"> Inventory</h3>
    <form>
        <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2 field" type="search" placeholder="Search" aria-label="Search">
            <button class="button btn btn-primary my-2 my-sm-0" type="submit">Search</button>
          </form>
    </form>
    <br>
      <div class="table-responsive table-wrapper-scroll-y my-custom-scrollbar">
                 <div class="table">
                  <table class="table bg-white tables">
                      <thead>
                            <th scope="col">Product ID</th>
                            <th scope="col">Product Name</th>
                            <th scope="col">Car Model</th>
                            <th scope="col">Year</th>
                            <th scope="col">Description</th>
                            <th scope="col">Quantity</th>
                            <th scope="col">Price</th>
                            <th class="th-md" scope="col">Actions</th>
                      </thead>
                      <tbody>
                          
                              <tr *ngFor="let obj of dataArr">
                                      <th scope="row">{{obj.id}}</th>
                                      <td>{{obj.name}}</td>
                                      <td>{{obj.model}}</td>
                                      <td>{{obj.year}}</td>
                                      <td>{{obj.description}}</td>
                                      <td>{{obj.quantity}}</td>
                                      <td>${{obj.price}}.00</td>
                                      <td>
                                            <button type="submit" class="btn btn-primary button text-light">
                                              Delete
                                            </button>
                                            <button type="button" class="btn btn-primary button text-light ml-2" data-toggle="modal" data-target="#exampleModalCenter">
                                              Edit
                                            </button>
                                            
                                      </td>
                              </tr>
                             
                      </tbody>
                  </table>
              </div>
        </div>
        </div>
  </div>


  <!-- MODAL -->

  <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLongTitle">Edit Item</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form>
            <div class="form-group">
                <div class="form-group"> 
                    <input type="text" class = "form-control field" id="" placeholder="Product Name" name = "name">
                </div>
              <input type="text" class="form-control field" id=""  placeholder="Car Model" name="model">
             </div>
            <div class="form-group">
              <input type="int" class="form-control field" id="" placeholder="Model Year" name="year">
            </div>
            <div class="form-group">
              <input type="text" class = "form-control field" placeholder="Description" name="desc">
            </div>
            <div class="form-group">
              <input type="int" class="form-control field" id="" placeholder="Price" name ="price">
            </div>
            <div class="form-group">
                    <input type="int" class="form-control field" id="" placeholder="Quantity" name="quantity">
                  </div>
            <div class="form-group">
                        <input type="text" class = "form-control field" placeholder="Category" name="category">
                      </div>
            <div class="form-group">
              <input type="file" name="" id="">
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary button">Save changes</button>
        </div>
      </div>
    </div>
  </div>