<div class="list-group sidebar">
        <button type="button" class="list-group-item list-group-item-action active">
          Categories
        </button>
        <button type="button" class="list-group-item list-group-item-action">Suspension</button>
        <button type="button" class="list-group-item list-group-item-action">Engine</button>
        <button type="button" class="list-group-item list-group-item-action">Exhaust</button>
        <button type="button" class="list-group-item list-group-item-action">Wheels</button>
      </div>